{% extends 'noobnews/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Rango
{% endblock %}

{% block body_block %}
<h1>Add Category</h1>

<div class="jumbotron">
  <h1 class="display-3">Rango says...</h1> {% if user.is_authenticated %}
  <h1>hey there {{ user.username }}!</h1> {% else %}
  <h1>hey there partner! </h1> {% endif %}
</div>
<form id="videogame_form" method="post" action="/noobnews/videogame/{{ videogame.slug }}/{{ user.username }}/add_review/">
		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
				{{ hidden }}
		{% endfor %}
		{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }}
		{% endfor %}
		<input type="submit" name="submit" value="Create Review" />
</form>
{% endblock %}
