<!DOCTYPE html>
{% load staticfiles %}
<!-- sources for Video game images are in populate_noobnews.py script-->
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/login.css" />
    <link rel="stylesheet" href="/static/css/noobnews.css" />
    <link rel="stylesheet" href="/static/css/top40.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }
      function searchBar() {
        document.getElementById("search").style.visibility="visible";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
   </script>
    <title>
      {% block title_block %}Noob News{% endblock %}</title>
  </head>
  <body background="/static/images/Background.png" style="background-attachment: fixed; background-size: cover;   background-repeat: no-repeat;">
    <!-- https://www.etq-amsterdam.com/ -->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      {% if user.is_authenticated %}
        <div class="w3-container">
          <center>
            <div class="profile-pic">
                <img src="{{ user.userprofile.user_profile_image.url }}" ; style="width:150px;  height: 150px;" />
            </div>
          </center>
          <br><br>
        </div>
      {% endif %}
      <div class="w3-bar-block">
        <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding "><i class="fas fa-file-upload fa-fw w3-margin-right"></i>Home</a>
        <a href="{% url 'top40' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding" id="ViewWork"><i class="fas fa-history fa-fw w3-margin-right"></i>Top 40</a>
        <a  href="{% url 'profile' %}" class="w3-bar-item w3-button w3-padding "><i class="fas fa-mail-bulk fa-fw w3-margin-right"></i>Profile</a>
         {% if user.is_authenticated %}
              <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-padding"><i class="fas fa-sign-out-alt fa-fw w3-margin-right"></i>Logout</a>
            {% else %}
              <a href="{% url 'login' %}" class="w3-bar-item w3-button w3-padding"><i class="fas fa-sign-in-alt fa-fw w3-margin-right"></i>Login</a>
          {% endif %}
        <a href="{% url 'contact_us' %}" class="w3-bar-item w3-button w3-padding"><i class="fas fa-envelope fa-fw w3-margin-right"></i>Contact us</a>
      </div>

    </div>
    <br />
    <span
      style="font-size:30px;cursor:pointer; font-size: 90%; font-family:'Batang'; padding-left:40px; color:black" onclick="openNav()">&#9776;</span>
    <div id="noob-navigator">
      <div class="row">
        <!-- https://codepen.io/CBeghin/pen/HeuiF-->
        <!--Search Feacture: results are shown in the cats div! -->
        <form class="search" id="search">
          <input class="suggestion" type="text" name="suggestion" value="" id="suggestion" placeholder="Find a Game"/>
          <div class="results" id="cats">
          </div>
        </form>
        <a href="{% url 'profile' %}" class="user"> <i class="fas fa-user"></i></a>
        <a onclick='searchBar()' class="searchicon"> <i class="fas fa-search"></i></a>
      </div>
    </div>

   <div class="container">
      {% include 'noobnews/messages.html' %}
      {% block body_block %}
      {% endblock %}
    </div>
  </body>

  <!-- Bootstrap core JavaScript ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static "js/noobnews-jquery.js" %}"></script>
<script src="{% static "js/noobnews-ajax.js" %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>

{% block video %}
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="{% static "js/top40.js" %}"></script>
<script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"> </script>
<script src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"> </script>
<script src= "http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"> </script>
{% endblock %}
{% block videoG %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"crossorigin="anonymous"></script>
  <script src="{% static "js/top40.js" %}"></script>
{% endblock %}
</html>
