{% extends 'noobnews/base.html' %}
{% load staticfiles %}
{% block title_block %}
Home
{% endblock %}
{% block body_block %}


<div class="homecontent">
  <div class="block x1"><img style="height: inherit; width:inherit;" src="/static/videogameImages/breathOfTheWild.jpg"></div>
  <div class="block x2">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:100%; height:100%;" >
      <!-- Wrapper for slides -->
      <div class="carousel-inner" style="width:100%; height:100%;">
        <!-- Misahael: I commented this to test the carousel with the images in top40List -->
        <!-- <div class="item active" style="width:100%; height:100%;">
          <img style="height: inherit; width:inherit;" src="/static/videogameImages/breathOfTheWild.jpg" alt=""">
        </div> -->
        {% for v in top40List %}
        <!-- Misahael: Validation to set the 'active' class in the first item of the list -->
        <!-- Please, if this is not the functionality we want, feel free to delete it -->
        <div class="item {% if forloop.first %}active{% endif %}" style="width:100%; height:100%;">
          <img style="height: inherit; width:inherit;" src="{{ v.image }}" alt="{{ v.name }}" >
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="block x3">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:100%; height:100%;" >
      <!-- Wrapper for slides -->
      <div class="carousel-inner" style="width:100%; height:100%;">
        <!-- Misahael: I commented this to test the carousel with the images in newList -->
        <!-- <div class="item active" style="width:100%; height:100%;">
          <img style="height: inherit; width:inherit;" src="/static/videogameImages/breathOfTheWild.jpg" alt=""">
        </div> -->
        {% for n in newList %}
        <!-- Misahael: Validation to set the 'active' class in the first item of the list -->
        <!-- Please, if this is not the functionality we want, feel free to delete it -->
          <div class="item {% if forloop.first %}active{% endif %}" style="width:100%; height:100%;">
            <img style="height: inherit; width:inherit;" src="{{ n.image }}" alt="{{ n.name }}" >
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="block x4">4</div>
  <div class="block x5">5</div>
</div>


{% endblock %}
