{% extends 'noobnews/base.html' %}
{% load crispy_forms_tags %}
{% block title_block%}
Password reset
{% endblock %} 
{% block body_block %}
<script src="../../static/js/login.js"></script>
<div class="row justify-content-center">
  <div class="card-login w-25">
    <div class="card-body">
      <h4 class="card-title">Reset your password</h4>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        {{ reset_form | crispy }}
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">
                Reset password
              </button>
            </div>
            <!-- form-group// -->
          </div>
          <div class="col-md-6 text-right">
            <a class="small" href="{% url 'login' %}">Return to Login</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
