{% extends 'noobnews/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block body_block %}

<div id=Speedtitle> </div> 
<script>
var temp = ""
var id="client_id=lafleu2a48dpivopblprona7jhjf3j"
$.getJSON("https://api.twitch.tv/kraken/videos/top?game={{ videoGame.name }}&"+id,function(obj){
      console.log(obj);
      for(var i=0;i<1;i++){
          var x={};
          x.img=obj.videos[i].preview;
          x.content=obj.videos[i].description.substring(0,20);
          x.url=obj.videos[i].url;

          x.description=obj.videos[i].description;
          x.id=obj.videos[i]._id;
          console.log(obj.videos[i])
          x.author=obj.videos[i].channel.name;
          x.views=obj.videos[i].views;
          x.title=obj.videos[i].title.substring(0,20);
          $("#Tdesc").append(x.content);;
          $("#Ttitle").append(x.title);;
          $("#Tviews").append(x.views);;
          $("#Ttitle").append(x.title);;
          $("#Turl").append(x.url);;
          $("#id").append(x.id);;
          $("#streamer").append(x.author);;


          iframe="<span><iframe width='560' height='315' src='https://player.twitch.tv/?autoplay=false&video="+ x.id + "'frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe></span>"
        $("#frame").append(iframe);;
     }
  },"jsonp");

  $.getJSON("https://api.twitch.tv/kraken/videos/v392641898?"+id,function(obj){
        console.log(obj);
        for(var i=0;i<1;i++){
            var x={};
            x.description=obj.description;
            x.author=obj.channel.name;
            x.views=obj.views;
            x.title=obj.title.substring(0,20);
            $("#Speeddesc").append(x.content);;
            $("#Speedtitle").append(x.title);;
            $("#Speedviews").append(x.views);;
            $("#Speedurl").append(x.url);;
            $("#Speedstreamer").append(x.author);;
            console.log(x.title);
       }
    },"jsonp");



</script>
{% endblock %}
