{% extends 'noobnews/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title_block %}
    Register
{% endblock %}
{% block body_block %}
<div class="row justify-content-center">
  <script src="../../static/js/login.js"></script>
  <style type="text/css">
    .input-group-text {
      width: 40px;
    }
  </style>
    <div class="card-login w-50 bg-light">
      <article class="card-body">
          <form
          id="user_form"
          method="POST"
          action="{% url 'register' %}"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
        {% crispy user_form %}
        {% crispy profile_form %}
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">
                Create Account
              </button>
            </div>
            <!-- form-group// -->
          </div>
          <div class="col-md-6 text-right">
            Have an account?
            <a class="small" href="{% url 'login' %}">Log In</a>
          </div>
        </div>
      </form>
      </article>
    </div>
  </form>
</div>
{% endblock %}
