<!DOCTYPE html>
{% extends 'noobnews/base.html' %}
{% load staticfiles %}
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto+Condensed'>
<link rel="stylesheet" href="/static/css/noobnews.css">
{% block body_block %}

<div class="jumbotron text-center mt-2" style="background: transparent;">
  <div class="try2" id="myBtnContainer" style="-webkit-align-content: center; align-content: center;">
    <button class="btn2 active2" id="btn2" onclick="filterSelection('all')"><span> Show all</span></button>
    {% for g in genres %}
    <button id="btn2" class="btn2" onclick="filterSelection('{{ g.name }}')"><span>{{ g.name }}</span></button>
    {% endfor %}
  </div>
  <div class="row2">
    {% for v in videoGame %}
    <a href="{% url 'show_videogame' v.slug %}"><div id="hover" class="column2 {{ v.genre.name }}">
      <div id="{{ v.genre.name }}" class="content2">
        <div><button class="plus"><h1 style="font-size: 2rem; color: #000;">{{ v.rating }}/5</h1></<button></div>
        <div class="right2">
          <h1 style="padding-bottom: 30px;">{{ v.name }}</h1>
        </div>
    <div class="thumbnail2" style="border-radius: 50px / 15px; background-color: transparent;"><img class="left" src="{{ v.image }}"  style="width:100%; height: 100%; " /></div>
    </div>
  </div></a>
    {% endfor %}
  </div>
</div>
{% endblock %}


<script src="{% static "js/top40.js" %}"></script>
