<!DOCTYPE html>
{% extends 'noobnews/base.html' %}
{% load staticfiles %}
<html lang="en">

<head>
  <meta charset="UTF-8">
{% block title_block %}{{ videoGame.name }}{% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1">




    {% block videoG %}    {% endblock %}
  <link rel="stylesheet" href="/static/css/videoGameBootstrap.css">
  <link rel="stylesheet" href="/static/css/noobnews.css">

</head>

{% block body_block %}

</div>
  <div class="fond"><span class="s2"></span></div>
  <div class="contact">
    <main>
      <div class="card">
        <div class="thumbnail"><img style="height: inherit; width:inherit;" class="left" src="{{ videoGame.image }}" /></div>
        <div class="right">
          <h1>{{ videoGame.name }} </h1>
          <div class="author">
            <h2>{{ videoGame.publisher }}</h2>
          </div>
          <div class="separator"></div>
          <p class= "scrolld">{{ videoGame.description }}
            <p>
        </div>
        <h5>{{ videoGame.rating }}/5</h5>
        <h6>{{ videoGame.release }}</h6>
        <button id="button1" name="button1">
          <span>More</span>

          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
            <g class="nc-icon-wrapper" fill="#444444">
              <path d="M14.83 30.83L24 21.66l9.17 9.17L36 28 24 16 12 28z"></path>
            </g>
          </svg>
        </button>
      </div>
      <div class="title">

    </main>


    <nav >
        <div class="blog-slider">
          <div class="blog-slider__wrp swiper-wrapper">
            <div class="blog-slider__item swiper-slide">
              <div class="blog-slider__img">
                <span><iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list={{ videoGame.youtubeurl }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
              </div>
              <div class="blog-slider__content">
                <div class="blog-slider__title">Youtube: Let's Play</div>
                <div class="blog-slider__text">Be cool if we got infomration about the video here</div>
              </div>
            </div>

            <div class="blog-slider__item swiper-slide">
              <div class="blog-slider__img">
                <span><iframe width="560" height="315" src="https://player.twitch.tv/?autoplay=false&video={{ videoGame.speedRun }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
              </div>
              <div class="blog-slider__content">
                <div class="blog-slider__title">Twitch Speed Run</div>
                <div class="blog-slider__text">Speed run record held by BLA BLA BLA</div>
             </div>
            </div>
            <div class="blog-slider__item swiper-slide">
              <div class="blog-slider__img">
                <span><iframe width="560" height="315" src="https://www.youtube.com/embed/{{ videoGame.speedRun }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
              </div>
              <div class="blog-slider__content">
                <div class="blog-slider__title">Twitch: LIVE</div>
                <div class="blog-slider__text">Speed run record held by BLA BLA BLA</div>
             </div>
            </div>

          </div>
          <div class="blog-slider__pagination"></div>
        </div>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>

      <a>
        <div class="content scroll" >


          <!--To embred a video you need to https://www.youtube.com/embed/videoseries?list= then the playlist code, the playlist code could be stored in the database -->
            <!--Comments Sections -->



            <div class="comment-item">
        <h1>Comment Section</h1>
        <button id="button2" name="button2" type="submit"class="button2" style= "margin-left: 12%" onclick = "document.getElementById('AddComment').style.display='block'">Add Comment</button>


          <div class="separator"></div>
      <div class="comment-item">
        <div class="comment-item--inner">
          {% if genres %}
          {% for g in genres %}


          <div class="is-left">
            <div class="avatar">
              {% for u in users%}
              {% ifequal  u.player_tag g.user_id.player_tag %}
              <img src="/{{u.user_profile_image }}"  style="width: 100%; height:120px;"alt="">


              {%endifequal%}
                {%endfor%}

              </div>
          </div>
          <div class="is-right">
            <div class="is-right--inner">
              <br>

              <div class="name">{{ g.user_id }}-    <small>{{ g.publish_date }}</small><div><br>
                <div class="blog-slider__text" style=" font-weight: normal;">{{ g.comments }}</div>
              <span class="share share-count share-plus">{{ g.comment_rating }}/5</span>
              </div>
            </div>
          </div>
        </div>
      </div>


{% endfor %}
      {% endif %}
      <div id="AddComment" class="modal">
                  <form id="videogame_form"  class="modal-content animate" method="POST" action="/noobnews/videogame/{{ videogame.slug }}/">
                      <span onclick="document.getElementById('AddComment').style.display='none'" class="close" title="Close Modal">x</span>
                      <center><h1> Add a Comment </h1></center>
                      <hr>
                      {% csrf_token %}
                      {% for hidden in form.hidden_fields %}
                          {{ hidden }}
                      {% endfor %}
                      {% for field in form.visible_fields %}
                          {{ field.errors }}
                          {{ field.help_text}}
                          {{ field }}
                      {% endfor %}


                    <div class="clearfix">
                      <button type="Save" id="button2" name="button2" class="button button1" style ='margin-left: 5%'>Finish </button>
                    </div>
                  </form>
                </div>
    </div>

    </nav>
  </div>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto+Condensed'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src="/static/js/index.js"></script>

{% endblock %}
